APP_NAME=gesture-yolo-ha
HOST=0.0.0.0
PORT=8000

MODEL_DIR=models
MODEL_FILE=best.pt
SOURCE=auto
RTSP_HOST=192.168.1.88
RTSP_USER=admin
RTSP_PASSWORD=HeXiaoHui830
RTSP_PATH=/
CONF=0.50
IOU=0.45
IMG_SIZE=640
DETECT_INTERVAL=0.35

MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_CLIENT_ID=gesture_yolo_ha
MQTT_DISCOVERY_PREFIX=homeassistant
MQTT_STATE_TOPIC=gesture_yolo_ha/state
